.main
{
    border: 1px solid black;
    border-radius: 30px;
    margin-top: 0px;
	overflow:auto;
	-webkit-box-shadow: -21px 20px 7px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: -21px 20px 7px 0px rgba(0,0,0,0.35);
	box-shadow: -21px 20px 7px 0px rgba(0,0,0,0.35)
	
}
.copy
{
    width: 75%;
}
.imgMain{
    float:right;
    width: 40%;
    height: 100%;
    padding-left: 60px;
    padding-right: 60px;
}
.textoMain
{
    font-size: auto;
    margin-left: 10px;
}
.formulario
{
    border-radius: 10px;
    -webkit-box-shadow: 6px 2px 45px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 2px 45px 6px rgba(0,0,0,0.75);
box-shadow: 6px 2px 45px 6px rgba(0,0,0,0.75);
}
.footer
{
    color: white;
    font-size: 10px;
}
.textoHeader
{
    font-size: 12px;
}
.mensaje
{
    height: 200px;
}

textarea
{
    resize: none;
    height: 300px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
body
{
    background-image: url('textura-fondo-gris.jpg');
}
header
{
    background-color: white;
}
@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
.asd
{
    background-color: white;
    border: 1px solid #C00;
}